body{
   
    background-image: url("./imgs/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    padding: 80px 0;
}

.container .heroes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 40px;
}

.container .heroes .hero{
    width: 80px;
    height: 84px;
    background-color: #555;
    margin: 4px;
    border: 3px solid #fff;
    transform: skewX(-14deg);
    border-radius: 10px;
    box-sizing: border-box;
    transition: 
        transform .1s, 
        background-color .5s;
    overflow: hidden;
}

.container .heroes .hero:hover{
    background-color: orange;
    transform: skewX(-14deg) scale(1.5);
    z-index: 1;
}

.container .heroes .hero .image-hero {
    width: 100%;
    height: 100%;
    transform: skewX(14deg);
    background-position: center;
    background-size: 88px;
    background-repeat: no-repeat;
}

.container .heroes .hero:nth-child(1) .image-hero {background-image: url("./imgs/hero1.png");}
.container .heroes .hero:nth-child(2) .image-hero {background-image: url("./imgs/hero2.png");}
.container .heroes .hero:nth-child(3) .image-hero {background-image: url("./imgs/hero3.png");}
.container .heroes .hero:nth-child(4) .image-hero {background-image: url("./imgs/hero4.png");}
.container .heroes .hero:nth-child(5) .image-hero {background-image: url("./imgs/hero5.png");}
.container .heroes .hero:nth-child(6) .image-hero {background-image: url("./imgs/hero6.png");}
.container .heroes .hero:nth-child(7) .image-hero {background-image: url("./imgs/hero7.png");}
.container .heroes .hero:nth-child(8) .image-hero {background-image: url("./imgs/hero8.png");}
.container .heroes .hero:nth-child(9) .image-hero {background-image: url("./imgs/hero9.png");}
.container .heroes .hero:nth-child(10) .image-hero {background-image: url("./imgs/hero10.png");}

.container .heroes .hero:nth-child(11) .image-hero {background-image: url("./imgs/hero11.png");}
.container .heroes .hero:nth-child(12) .image-hero {background-image: url("./imgs/hero12.png");}
.container .heroes .hero:nth-child(13) .image-hero {background-image: url("./imgs/hero13.png");}
.container .heroes .hero:nth-child(14) .image-hero {background-image: url("./imgs/hero14.png");}
.container .heroes .hero:nth-child(15) .image-hero {background-image: url("./imgs/hero15.png");}
.container .heroes .hero:nth-child(16) .image-hero {background-image: url("./imgs/hero16.png");}
.container .heroes .hero:nth-child(17) .image-hero {background-image: url("./imgs/hero17.png");}
.container .heroes .hero:nth-child(18) .image-hero {background-image: url("./imgs/hero18.png");}
.container .heroes .hero:nth-child(19) .image-hero {background-image: url("./imgs/hero19.png");}
.container .heroes .hero:nth-child(20) .image-hero {background-image: url("./imgs/hero20.png");}

.container .heroes .hero:nth-child(21) .image-hero {background-image: url("./imgs/hero21.png");}
.container .heroes .hero:nth-child(22) .image-hero {background-image: url("./imgs/hero22.png");}
.container .heroes .hero:nth-child(23) .image-hero {background-image: url("./imgs/hero23.png");}
.container .heroes .hero:nth-child(24) .image-hero {background-image: url("./imgs/hero24.png");}
.container .heroes .hero:nth-child(25) .image-hero {background-image: url("./imgs/hero25.png");}
.container .heroes .hero:nth-child(26) .image-hero {background-image: url("./imgs/hero26.png");}
.container .heroes .hero:nth-child(27) .image-hero {background-image: url("./imgs/hero27.png");}
.container .heroes .hero:nth-child(28) .image-hero {background-image: url("./imgs/hero28.png");}
.container .heroes .hero:nth-child(29) .image-hero {background-image: url("./imgs/hero29.png");}
.container .heroes .hero:nth-child(30) .image-hero {background-image: url("./imgs/hero30.png");}

.container .heroes .hero:nth-child(31) .image-hero {background-image: url("./imgs/hero31.png");}
.container .heroes .hero:nth-child(32) .image-hero {background-image: url("./imgs/hero32.png");}

.logo{
    max-width: 300px;
    margin: 0 auto;
    padding-top: 20px;
}

.logo img{
    width: 100%;
}